<div class="card">
<h1 class="text-center">Stupid Coachings</h1>
<h2 class="text-center">Your question: <%= @question %> </h2>
<h2 class="text-center"> Coach's response: <%= @answer %> </h2>

<button type="submit" class="btn btn-outline-primary"> <%= link_to "Ask another question", ask_path %> </button>
</div>
